@import url(https://fonts.googleapis.com/css?family=Fredoka&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap);

:root {
    --cor-fundo-footer: #FF8965;
    --cor-fundo-header: #FF6C3F;
    --cor-fundo-guia-pais: #FFF4DE;
    --cor-titulo: #F35F2F;
    --rosa-avermelhado: #F85655;
    --cor-texto: #272727;
    --bege-claro: #FFD6C0;
    --laranja-claro: #FF6C3F;
    --verde-agua: #5DA1B7;
    --azul-bebe: #7BCAF9;
    --amarelo-claro: #F4AC47;
    --laranja-amarronzado:#FF9140;
}
body{
    background-color: var(--cor-fundo-guia-pais);
}
.conteudo {
    background-color: var(--cor-fundo-guia-pais);
    margin: auto;
    width: 100%;
}
/*SECAO PRINCIPAL*/
#guia_pais__principal{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.guia_pais__principal--container{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
#principal_imagem-fundo{
    background-image: url(/imagens/guiadospais/koda_fundo.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 40%;
    height: 85vh;
}
#principal_conteudo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2%;
    justify-content: center;
    height: auto;
}
#principal_conteudo--titulo-subtitulo{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
  
}
.guia_pais--titulo{
    font-family: "Fredoka", sans-serif;
    font-size: 58px;
    color: var(--cor-titulo);
    font-weight: 700;
}
.guia_pais--subtitulo{
    font-family: "Fredoka", sans-serif;
    font-size: 32px;
    color: var(--rosa-avermelhado);
    font-weight: 800;
}
/* Depoimento Grande */
.principal_conteudo__card-g{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 22px 5%;
    background-color: var(--bege-claro);
    border-radius: 30px;
}

.card_comentarios-imagem-g{
    background-image: url(/imagens/guiadospais/comentario_1.png);
    width: 15%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}
.card_comentarios{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: italic;
}
.card_comentarios h5{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color: var(--cor-texto);
}
.card_comentarios p{
    
    font-family: 'Montserrat', sans-serif;
    
}
#card_comentarios-g h5{
    font-size: 20px;
}
#card_comentarios-g p{
    font-size: 18px;
}
/* Depoimentos Médios */

.principal_conteudo__dois-cards{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}
.principal_conteudo__card-m{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 2%;
    object-fit: contain;
    background-color: var(--bege-claro);
    border-radius: 20px;
}

#card_comentarios-m p{
    font-size: 10px;
}
.card-imagem-m{
    width: 40%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#card_comentarios-imagem-m1{
    background-image: url(/imagens/guiadospais/comentario_2.png);
}
#card_comentarios-imagem-m2{
    background-image: url(/imagens/guiadospais/comentario_3.png);
}
/*FIM SECAO PRINCIPAL*/


/*SECAO SEGURANÇA DIGITAL*/
#guia_pais__seguranca{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.guia_pais__seguranca--container{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 80%;
    margin: auto;
    
}
#seguranca_conteudo-texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

#seguranca_conteudo-imagem{
    background-image: url(/imagens/guiadospais/menina_negra_com_tablet.png);
    height: 650px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

#seguranca_conteudo-texto h1{
    font-size: 4vw;
    font-weight: 1000;
    font-style: normal;
}
.guia_pais--texto {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    
}
/*FIM SECAO SEGURANÇA DIGITAL*/

/*INICIO SECAO TRANSPARENCIA PLATAFORMA*/
#guia_pais__transparencia{
    height: 100vh;
    width: 100%;
    display: flex;
}
.guia_pais__transparencia--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5vh;
    height: auto;
    margin: auto;
    width: 90%;
    
}
.transparencia_subtitulo-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
}
#card_container{
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.transparencia_card-container{
    
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: auto;
    border-radius: 40px 0 40px 0;
    transition: 0.6s ease;
}
#transparencia_card-1{
    background-color: var(--verde-agua);
}
#transparencia_card-1:hover{
    background-color: var(--azul-bebe);
}
#transparencia_card-2{
    background-color: var(--rosa-avermelhado);
}
#transparencia_card-2:hover{
    background-color: #ff7aa2
}
#transparencia_card-3{
    background-color: var(--laranja-amarronzado);
}
#transparencia_card-3:hover{
    background-color: var(--amarelo-claro);
}

.transparencia_card--conteudo{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    padding: 10px;
}
.transparencia_card--conteudo h4{
    font-family: "Fredoka", sans-serif;
    font-weight: 1000;
    font-size: 1.6vw;
    color: #fff;
}
.transparencia_card--conteudo p{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 1.5vw;
    color: #fff;
   
}

.swiper-button-prev{
    top:630px; 
    left: 2vh
}
.swiper-button-next{
    top:630px; 
    right: 2vh;
}
.swiper-button-next::after,
.swiper-button-prev::after {
        font-family: 'Font Awesome 6 Free';
        color:#ff692e; 
        font-weight: 900; 
        content: '\f138';
}
.swiper-button-prev::after {
    content: '\f137'; 
}
.btn_saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    padding: 21px;
    border-radius: 50px;
    border: none;
    width: 40%;
}

.btn_saiba-mais:hover{
    transition: 0.4s ease-in;
    cursor: pointer;
    box-shadow: 0 4.184px 4.184px 0 rgba(140, 152, 175, 0.25);
}
#btn_seguranca{
    color: var(--verde-agua);
    font-size: 1.5vw;
    font-weight: 550;
}
#btn_metodologias{
    color: var(--rosa-avermelhado);
    font-size: 1.5vw;
    font-weight: 550;
}
#btn_jornada{
    color: var(--laranja-amarronzado);
    font-size: 1.5vw;
    font-weight: 550;
}
.transparencia_card--imagem{
    width: 45%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
#card_imagem-1{
    background-image: url(/imagens/guiadospais/familia_card_1.png);
}
#card_imagem-2{
    background-image: url(/imagens/guiadospais/familia_card_2.png);
}
#card_imagem-3{
    background-image: url(/imagens/guiadospais/familia_card_3.png);
}
/*FINAL SECAO TRANSPARENCIA COM A PLATAFORMA*/

/*REMOVENDO IMAGEM DE FUNDO SECAO PRINCIPAL QUANDO ATINGIR ESSA LARGURA DE TELA*/
@media (max-width: 1060px){
    #principal_imagem-fundo{
        display: none;
    }
}